.size {
  position: absolute;
  top: 0;
  left: 0;
}

.bounding-box {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
}
